@font-face {
  font-family: 'Fuji';
  src: url('../fonts/Fuji-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fuji';
  src: url('../fonts/Fuji-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fuji';
  src: url('../fonts/Fuji-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fuji';
  src: url('../fonts/Fuji-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gang of Three';
  src: url('../fonts/Gang-of-Three-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #c9e165 !important;
}

.bar-background-colored {
  background-color: #83dce4;
}

* {
  text-decoration: none;
}

.no-uppercase {
  text-transform: unset !important;
}

.no-letterspacing {
  letter-spacing: 0 !important;
}

// Paleta do Scooby
.bgGreen {
  background-color: #c9e165 !important;
}

.bgBrown {
  background-color: #794a30 !important;
}

.bgLightBrown {
  background-color: #a06646 !important;
}

.bgBlue {
  background-color: #83dce4 !important;
}

.bgOrange {
  background-color: #fab045 !important;
}

.bgViolet {
  background-color: #a15aa0 !important;
}

.bgBlack {
  background-color: #231e18 !important;
}

.txtGreen {
  color: #c9e165 !important;
}

.txtBrown {
  color: #794a30 !important;
}

.txtLightBrown {
  color: #a06646 !important;
}

.txtBlue {
  color: #83dce4 !important;
}

.txtOrange {
  color: #fab045 !important;
}

.txtViolet {
  color: #a15aa0 !important;
}

.txtBlack {
  color: #231e18 !important;
}

.txtGray {
  color: #626262 !important;
}
