@import 'https://fonts.googleapis.com/css?family=Marmelad';

.background-azul {
  background-color: #a2b7e2;
}

* {
  text-decoration: none;
}

.no-uppercase {
  text-transform: unset !important;
}

.no-letterspacing {
  letter-spacing: 0 !important;
}

// Paleta do Shrek
.bgLightGreen {
  background-color: #C5EE7D !important;
}

.bgGreen {
  background-color: #8CB04E !important;
}

.bgBrown {
  background-color: #5C452D !important;
}

.bgBeige {
  background-color: #E1DFB6 !important;
}

.bgDarkGreen {
  background-color: #7A9244 !important;
}

.bgBlack {
  background-color: #231E18 !important;
}

.txtLightGreen {
  color: #C5EE7D !important;
}

.txtGreen {
  color: #8CB04E !important;
}

.txtBrown {
  color: #5C452D !important;
}

.txtBeige {
  color: #E1DFB6 !important;
}

.txtDarkGreen {
  color: #7A9244 !important;
}

.txtBlack {
  color: #231E18 !important;
}
