@import 'https://fonts.googleapis.com/css2?family=Chewy&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montaga:wght@400;700&display=swap';

body {
  background-color: #C9E165 !important;
}

.bar-background-colored {
  background-color: #83DCE4;
}

* {
  text-decoration: none;
}

.no-uppercase {
  text-transform: unset !important;
}

.no-letterspacing {
  letter-spacing: 0 !important;
}

// Paleta do Scooby
.bgGreen {
  background-color: #C9E165 !important;
}

.bgBrown {
  background-color: #794A30 !important;
}

.bgLightBrown {
  background-color: #A06646 !important;
}

.bgBlue {
  background-color: #83DCE4 !important;
}

.bgOrange {
  background-color: #FAB045 !important;
}

.bgViolet {
  background-color: #A15AA0 !important;
}

.bgBlack {
  background-color: #231E18 !important;
}

.txtGreen {
  color: #C9E165 !important;
}

.txtBrown {
  color: #794A30 !important;
}

.txtLightBrown {
  color: #A06646 !important;
}

.txtBlue {
  color: #83DCE4 !important;
}

.txtOrange {
  color: #FAB045 !important;
}

.txtViolet {
  color: #A15AA0 !important;
}

.txtBlack {
  color: #231E18 !important;
}
